<%- model_class = Employee -%>

<div class="right_col" role="main">

  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="x_panel size-of-lists-employees">
        <div class="x_title">
          <h2>Employee Information</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-11 col-md-offset-1">
            <ul class="list-unstyled">
              <li><h5 ><span class="fa fa-user-plus " style="font-size:14px;" aria-hidden="true"></span>&nbsp<strong >Name: </strong><%= @employee.name %></h5></li>
              <li><h5 ><span class="fa fa-lock" style="font-size:12px;" aria-hidden="true"></span>&nbsp&nbsp&nbsp<strong >Employee Code: </strong><%= @employee.id %></h5></li>
              <li><h5 ><span class="fa fa-envelope" style="font-size:12px;" aria-hidden="true"></span>&nbsp&nbsp<strong >Email: </strong><%= @employee.email %></h5></li>
              <br>
            </ul>
          </div>
              <div class="x_title">
                <div class="clearfix"></div>
              </div>

          <div class="col-md-11 col-md-offset-1">
            <ul class="list-unstyled">
              <li><h5 ><span class="fa fa-certificate" style="font-size:15px;" aria-hidden="true"></span>&nbsp&nbsp<strong >Times signed in: </strong><%= @employee.sign_in_count %></h5></li>

              <div class="clearfix"></div>
              <li><h5 ><span class="fa fa-heart" style="font-size:15px;" aria-hidden="true"></span>&nbsp&nbsp<strong >Adoption Registers: </strong><%= @adoptions_actions.size %></h5></li>

              <div class="clearfix"></div>
              <li><h5 ><span class="fa fa-eur" style="font-size:17px;" aria-hidden="true"></span>&nbsp&nbsp&nbsp<strong >Donation Registers: </strong><%= @donations_actions.size %></h5></li>

              <div class="clearfix"></div>
              <li><h5 ><span class="fa fa-users" style="font-size:14px;" aria-hidden="true"></span>&nbsp&nbsp<strong >Volunteer Registers: </strong><%= @volunteer_register %></h5></li>
            </ul>

          </div>
            <div class="x_title">
              <div class="clearfix"></div>
              <br>
            </div>

          <div class="col-md-11 col-md-offset-1">
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <div class="actions">
                  <%= link_to 'Back', employees_list_path , class:'btn btn-primary'%>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>


    </div>
        <div class="col-md-4 col-xs-12">

          <div class="x_panel">

            <div class="x_title">
              <h2 id="name_list">Adoptions registered by Employee</h2>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <ul class="list list-unstyled top_profiles scroll-view" role="tablist">
                <% if @adoptions_actions.size >0 %>
                    <% @adoptions_actions.each do |adoption| %>
                        <li class="media event">
                          <p><strong> Date:</strong> <%= pretty_datetime(adoption.adoption_date) %></p>
                          <p><strong> Animal:</strong> <%= adoption.animal.name %> - <%= adoption.animal_id %></p>
                        </li>
                    <% end %>
                <% else %>
                    This employee has no adoptions registered
                <% end %>
              </ul>

            </div>
          </div>
        </div>

    <div class="col-md-4 col-xs-12">

      <div class="x_panel">

        <div class="x_title">
          <h2 id="name_list">Donations registered by Employee</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <ul class="list list-unstyled top_profiles scroll-view" role="tablist">
            <% if @donations_actions.size >0 %>
                <% @donations_actions.each do |donation| %>
                    <li class="media event">
                      <p><strong> Date:</strong> <%= pretty_datetime(donation.donation_date) %></p>
                      <% case donation.donation_type %>
                      <% when 0 %>
                          <p><strong>Type:</strong> Other</p>
                          <p><strong> Quantity:</strong> <%= donation.quantity %></p>
                          <p><strong> Description:</strong> <%= donation.description %></p>
                      <% when 1 %>
                          <p><strong>Type:</strong> Money</p>
                          <p><strong> Quantity:</strong> <%= donation.quantity %> €</p>
                      <% else %>
                          <p><strong>Type:</strong> Food</p>
                          <p><strong> Quantity:</strong> <%= donation.quantity %> Kg</p>
                      <% end %>
                    </li>
                <% end %>
            <% else %>
                This employee has no donations registered
            <% end %>
          </ul>

        </div>
      </div>
    </div>


  </div>
</div>

