
<div class="col-md-3 left_col">
      <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
          <%= link_to employees_path, class: 'site_title' do %>
              <i class="fa fa-child "></i><span>&nbspPet Club!</span>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

          <div class="menu_section">
              <ul class="nav side-menu">

                <li><%= link_to employees_path do %>
                      <i class="fa fa-home"></i>Home <span class="fa fa-chevron"></span>
                  <% end %>
                </li>

              <li><a><i class="fa fa-paw" ></i> Animals <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li>
                    <%= link_to 'Add New', new_animal_employees_path %>
                  </li>
                  <li>
                    <%= link_to 'View All', animals_list_employees_path %>
                  </li>
                </ul>
              </li>

              <li><a><i class="fa fa-heart" aria-hidden="true"></i> Adoptions <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><%= link_to 'Add New', controller:'adoptions', action:'new' %>
                  </li>
                  <li>
                    <%= link_to 'View All', controller:'adoptions', action:'index' %>
                  </li>
                </ul>
              </li>

              <li><a><i class="fa fa-eur" ></i> Donations <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><%= link_to 'Add New', controller:'donations', action:'new' %>
                  </li>
                  <li><%= link_to 'View All', controller:'donations', action:'index' %>
                  </li>
                </ul>
              </li>

              <li><a><i class="fa fa-users" ></i> Volunteers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><%= link_to 'Add New', controller:'volunteers', action:'new' %>
                  </li>
                  <li><%= link_to 'View All', controller:'volunteers', action:'index' %>
                  </li>
                </ul>
              </li>


              <li><a><i class="fa fa-edit" ></i> Shelter Info <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li>
                    <%= link_to 'View', shelter_path(1), method: 'get' %>
                  </li>
                  <li>
                    <%= link_to 'Edit', edit_shelter_path(1), method: 'get'  %>
                  </li>
                </ul>
              </li>
                <% if (current_employee.admin) %>
                    <li><a><i class="fa fa-users" ></i> Employees <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu" style="display: none">
                        <li><%= link_to 'Add New', controller:'employees', action:'new' %>
                        </li>
                        <li><%= link_to 'View All', employees_list_path %>
                        </li>
                      </ul>
                    </li>
                <% end %>

                <li><%= link_to requests_path do %>
                      <i class="fa fa-inbox"></i>Inbox <span class="fa fa-chevron"></span>
                  <% end %>
                </li>


              </ul>
          </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->

        <div class="sidebar-footer hidden-small">
          <%= link_to '', edit_employee_path(current_employee), class: 'fa fa-edit', title: 'Edit', data: { toggle: 'tooltip', placement: 'top', original_title: 'Edit' }%>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">

      <div class="nav_menu">
        <nav class="" role="navigation">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">

            <li class="">
              <%= link_to '', destroy_employee_session_path, method: :delete , class: 'fa fa-sign-out', title: 'Logout' %>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green"><%= count_new_requests %></span>  <!-- /Numero de notificações -->
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <%all_requests.each do |r|  %>
                    <%if r.status==0 %>

                <li>
                  <a>
                      <span>
                                        <span><strong><%=r.name %></strong></span>
                      <span class="time"><%= r.created_at.strftime('%H:%M:%S') %></span>
                      </span>
                      <span class="message">
                                       <%=r.subject %>
                                    </span>
                  </a>
                </li>
                    <%end%>

                    <%end%>
                <li>
                  <div class="text-center">
                    <%= link_to ' <strong>See All</strong> <i class="fa fa-angle-right"></i>'.html_safe, :controller => :requests, :action => :index %>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <!-- /top navigation -->
