<div id="wrapper">
  <div id="login" class="animate form">
    <section class="login_content">
      <div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <h1>Recover Password</h1>
            <%= devise_error_messages! %>
            <% if flash[:alert] %>
                <span class='flash_error'> <%= flash[:alert] %></span>
            <% end %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email', type:'text' %>
            </div>
            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: 'btn btn-default submit' %>
            </div>
        <% end %>
        <div class="separator">
          <%= render "devise/shared/links" %>
          <div class="clearfix"></div>
          <br/>
          <div>
            <h2>
              <i class="fa fa-paw" style="font-size: 26px;"></i>
              Pet Club!</h2>
            <p>©2015 All Rights Reserved. Fight for Them!
              <br>
              Pet Club!</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

