<% model_class = Animal %>
<div class="box-body table-responsive">
  <table id="list_datatable1" class="display table table-bordered table-striped text-center">
    <thead>
    <tr>
      <th class="text-center"><%= model_class.human_attribute_name(:animal_Code) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:name) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:animal_type) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:breed) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:size) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:gender) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:date_of_birth) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:status) %></th>
      <th class="text-center"><%= model_class.human_attribute_name(:entry_date) %></th>
      <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @ff_animals.each do |animal| %>
        <tr>
          <td class="text-center"><%= link_to animal.id, show_animal_employees_path(animal) %></td>
          <td><%= animal.name %></td>
          <% if(animal.animal_type == 1) %>
              <td class="text-center">Dog</td>
          <% else %>
              <td class="text-center">Cat</td>
          <%end%>
          <td><%= animal.breed.name %></td>
          <td>
            <% case animal.size %>
            <% when 0%>
                <%= 'Mini'%>
            <% when 1%>
                <%= 'Small'%>
            <% when 2%>
                <%= 'Medium'%>
            <% when 3%>
                <%= 'Large'%>
            <% else %>
                <%= 'Giant'%>
            <% end %>
          </td>
          <td>
            <% case animal.gender %>
            <% when 0%>
                <%= 'Female'%>
            <% else %>
                <%= 'Male'%>
            <% end %>
          </td>
          <td><%= pretty_date(animal.date_of_birth) %>

          <td>
            <% case animal.status %>
            <% when 0%>
                <%= 'In Shelter'%>
            <% when 1 %>
                <%= 'With FF'%>
            <% else %>
                <%= 'Adopted'%>
            <% end %></td>
          <td><%= pretty_date(animal.entry_date) %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_animal_path(animal), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), animal_path(animal.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs
                  btn-danger' %>
            <% if animal.status == 1 %>
                <%= link_to 'Return', return_animal_to_shelter_path(animal), :class => 'btn btn-primary btn-xs' %>
            <% end %>
            <% if animal.endangered? %>
              <%= link_to 'Safe', animal_save_path(animal), :class => 'btn btn-info btn-xs' %>
            <% else %>
              <%= link_to 'Danger', animal_in_danger_path(animal), :class => 'btn btn-warning btn-xs' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
